#header {
    text-align: center;
    margin-bottom: 32px;
}

    h1 {
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 0;
        /*width: 100%;*/
    }
h2{
    font-weight: 400;
    font-size: 32px;
    border-bottom: grey 1px ;
    margin-bottom: 8px;
}
h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
}

#footer {
    text-align: center;
    margin-top: 64px;
}

p {
    margin-bottom: 12px;
}
